<footer class="footer">
  <small>
    <a href="http://vor-group.com/">Help Thy Neighbour</a>
    by VOR Consulting Group
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://vor-group.com/">Developed by VOR Consulting Group</a></li>
    </ul>
  </nav>
</footer>